#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-container{
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}

.form-container>div{
  margin-right: "6px";
}

.form-container>a{
  font-size: small;
}

.navbar{
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar>ul {
  list-style-type: none;
  display: flex;
  gap:10px
}

.navbar>ul>li>a {
  text-decoration: none;
  color: #333 !important;
  padding: 8px 20px !important;
  border-radius: 20px;
}

.navbar>ul>li>a:hover {
  background-color: #ddd;
}

.active {
  background-color: #ccc;
 
}

.navbar>button {
  background-color: #f1f1f1;
  border: none;
  padding: 3px 9px;
  cursor: pointer;
  border-radius: 20px;
}

.navbar>button:hover {
  background-color: #ddd;
}


.full-width{
  width: 100vw;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.unordered-list{
  display: flex;
  gap: 10px;
}

.unordered-list>li{
  list-style: none;
}